@page
@model TCBMTGWebShop.Pages.Products.AddModel

@{
    var message = ViewData["Message"]?.ToString();
}

<form method="post">

<h1 class="mb-3">Add New Product</h1>

@if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
        @message
        </div>
    }


<div class="mb-3">
    <label class="form-label">Product Name</label>
    <input type="text" class="form-control" asp-for="AddProductRequest.ProductName"/>
</div>

<div class="mb-3">
    <label class="form-label">Product Description</label>
        <input type="text" class="form-control" asp-for="AddProductRequest.ProductDescription" />
</div>

<div class="mb-3">
        <label asp-for="AddProductRequest.ProductType" class="control-label">Product Type</label>
        <select asp-for="AddProductRequest.ProductType" class="form-control">
            @foreach (var Type in Model.Types)
            {
                    <option value="@Type.ProductType">@Type.ProductType</option>
            }
        </select>
</div>

<div class="mb-3">
        <label asp-for="AddProductRequest.productGame" class="control-label">Product Game</label>
        <select asp-for="AddProductRequest.productGame" class="form-control">
            @foreach (var Game in Model.Games )
            {
                    <option value="@Game.productGame">@Game.productGame</option>
            }
        </select>
    </div>

<div class="mb-3">
    <label class="form-label">Product Price</label>
        <input type="number" class="form-control" asp-for="AddProductRequest.ProductPrice" />
</div>

    <div class="mb-3">
        <label class="form-label">Product Quantity</label>
        <input type="number" class="form-control" asp-for="AddProductRequest.ProductQuantity" />
    </div>

    <div class="mb-3 d-flex justify-content-between">
    <button type="submit" class="btn btn-primary" href="/Products/List">Save</button>
    <a id="btnList" class="btn btn-dark" href="/Products/List">Back to Overview</a>
</div>

</form>