@page "{id:Guid}"
@model TCBMTGWebShop.Pages.Types.EditModel
@{
    var message = ViewData["Message"]?.ToString();
}

<form method="post">

<h1 class="mb-3">Edit Product Type</h1>

    @if (!string.IsNullOrWhiteSpace(message))
    {
        <div class="alert alert-success" role="alert">
            @message
        </div>
    }
    <div class="mb-3">
    <label class="form-label">Product ID</label>
    <input type="text" class="form-control" asp-for="EditTypeViewModel.Id" readonly/>
</div>

<div class="mb-3">
    <label class="form-label">Product Description</label>
        <input type="text" class="form-control" asp-for="EditTypeViewModel.TypeStorageSpace" />
</div>

<div class="mb-3">
    <label class="form-label">Product Type</label>
        <input type="text" class="form-control" asp-for="EditTypeViewModel.ProductType" />
</div>

    <div class="mb-3 d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" asp-page-handler="Update">
            Update
        </button>
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this Product?')" asp-page-handler="Delete">
            Delete
        </button>
    </div>

</form>